<div class="sidenav" id="mySidenav">
    <div class="sidenavBlock">
        <a href="javascript:void(0);" class="closeButton" onclick="closeNav()">&times;</a>
        <div class="divider"></div>
        <div class="divider"></div>
        <div class="divider"></div>
        <h1 class="sidenavBlock">IT PDP Conference 2018</h1>
        <h1 id="slogan">"Adapting New Technology"</h1>
    </div>

    <div class="sidenavBlock">
        <h1 class="sidenavBlockTitle">Introduction</h1>

        <img class="nounicons" src="../../../static/images/icons/noun_home.svg" alt="noun">
        <a href="home">Home</a>
    </div>

    <div class="sidenavBlock">
        <h1 class="sidenavBlockTitle">Auditorium Activities</h1>

        <img class="nounicons" src="../../../static/images/icons/noun_agenda.svg" alt="noun">
        <a href="agenda">Agenda</a>
        <div class="divider"></div>

        <img class="nounicons" src="../../../static/images/icons/noun_ice_breaker.svg" alt="noun">
        <a href="icebreaker">Ice Breaker</a>
        <div class="divider"></div>

        <img class="nounicons" src="../../../static/images/icons/noun_question_and_answer.svg" alt="noun">
        <a href="">Q&A Session</a>
    </div>

    <div class="sidenavBlock">
        <h1 class="sidenavBlockTitle">Lobby Activities</h1>

        <img class="nounicons" src="../../../static/images/icons/noun_booth.svg" alt="noun">
        <a href="booths" >Booth Showcase</a>
        <div class="divider"></div>

        <img class="nounicons" src="../../../static/images/icons/noun_augmented.svg" alt="noun">
        <a href="metaverse" >AR Game</a>
        <div class="divider"></div>
    </div>

    <div class="sidenavBlock" style="padding-bottom: 0">
        <h1 class="sidenavBlockTitle">Behind The Scenes</h1>

        <img class="nounicons" src="../../../static/images/icons/noun_committee.svg" alt="noun">
        <a href="committee">Committee Overview</a>
        <div class="divider"></div>

        <img class="nounicons" src="../../../static/images/icons/noun_team_agenda.svg" alt="noun">
        <a href="team_agenda">Agenda Team</a>
        <div class="divider"></div>

        <img class="nounicons" src="../../../static/images/icons/noun_team_graphics.svg" alt="noun">
        <a href="team_graphics">Graphics Team</a>
        <div class="divider"></div>

        <img class="nounicons" src="../../../static/images/icons/noun_team_logistics.svg" alt="noun">
        <a href="team_logistics">Logistics Team</a>
        <div class="divider"></div>

        <img class="nounicons" src="../../../static/images/icons/noun_team_programming.svg" alt="noun">
        <a href="team_programming">Programming Team</a>
        <div class="divider"></div>

        <img class="nounicons" src="../../../static/images/icons/noun_about.svg" alt="noun">
        <a href="about">About</a>

        <img id="logo_sidebar" src="../../../static/images/logo_pointing.png" alt="noun">
    </div>
</div>
