/* Just for reference */
ColorPalette {
    color: #ff7b0f, #ffaa0c, #4e9894, #5e7777, #efe1b8, #77918E;
}

html {
    height: 500px;
}

body {
    background-color: #E4E4BE;
    /* top right down left*/
    margin: 0px 0px 50px 0px;
    transition: background-color .5s;
}

section {
    /* top right down left*/
    margin: 25px 25px 0px 25px;
    /* font-family: 'Raleway', sans-serif; */
    /* font-family: 'Chakra Petch', sans-serif; */
    font-family: 'Teko', sans-serif;
    /* font-family: 'Rajdhani', sans-serif;
    font-family: 'Poiret One', cursive; */
}

h1 {
    font-size: 40px;
    font-family: 'Teko', sans-serif;
    text-align: center;
    line-height: 125%;
    margin-bottom: 2.5%;
}

h1.sidenavBlock {
    font-size: 20px;
}

h1.splash_title {
    font-size: 50px;
}

h1.subtitle{
    font-size: 44px;
    font-family: 'Teko', sans-serif;
    letter-spacing: 1px;
    font-style: italic;
    color: #ff7b0f;
}

h4 {
    font-size: 14px;
    font-weight: 900;
    font-family: 'Rajdhani', sans-serif;
    text-align: center;
}

p {
    font-size: 18px;
    font-family: 'Rajdhani', sans-serif;
    text-align: justify;
}

p.credits {
    text-align: center;
}

ol {
    font-size: 18px;
    font-family: 'Rajdhani', sans-serif;
    text-align: justify;
}

#logo {
    /* size of the image; height scales alone somehow */
    width: 200px;
    /* Following lines center the logo */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#agenda {
    /* size of the image; height scales alone somehow */
    width: 100%;

    /*Size of the smallest device on the chrome dev tool. We should change it so that it is always
    equal to the screen width, but this does the job for now. */
    min-width: 320px;

    /* Following lines center the agenda */
    display: block;
    margin-top: 40px;
}

#booth_layout {
    /* size of the image; height scales alone somehow */
    width: 80vw;
    /* Following lines center the logo */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#booth_table {
    /* size of the image; height scales alone somehow */
    width: 80vw;
    /* Following lines center the logo */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#logo_sidebar {
    width: 200px;
    float: right;
    padding: 0px 0px 100px 0px;
}

/* .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
} */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #77918E;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 50px;
    /* To make sure that the navbar tops everything */
    z-index: 100;
    border-right: 2px #ff7b0f solid;
}

div.sidenavBlock {
    border-bottom: 2px #ff7b0f solid;
    color: #E4E4BE;
    font-size: 12px;
    Text-align: left;
    padding: 5px 0px 20px 6px;

}

h1.sidenavBlockTitle {
    color: #ffaa0c;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Rajdhani', sans-serif;
    /* display: block; */
    transition: 0.3s;
}

.sidenav a {
    padding-left: 15px;
    padding-top: 12px;
    text-decoration: none;
    font-size: 18px;
    color: #E4E4BE;
    font-family: 'Rajdhani', sans-serif;
    transition: 0.3s;
    display: inline-block;
    vertical-align: middle;
}

.sidenav a:hover {
    color: #ffaa0c;
}

.sidenav .closeButton {
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 36px;
    margin-left: 50px;
}

.divider {
    width: auto;
    height: 8px;
}

svg {
    width: 30px;
    height: 30px;
    fill: #E4E4BE;
    stroke: #E4E4BE;
    display: inline;
}

img.nounicons {
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
}

img.badge {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    height: 35px;
}

div#images {
    text-align: center;
}

div#images a{
    text-decoration: none;
}

#main {
    transition: margin-left .5s;
    /* padding: 16px; */
    /* margin-left: 0px !important; */
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

#topBar {
    background-color: #77918E;
    color: #E4E4BE;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
}

#openButton {
    display: block;

}

#currentPage {
    display: inline;
}

.topnav {
    overflow: hidden;
    background-color: #77918E;
    text-align: center;
}

.topnav a {
    display: block;
    color: #E4E4BE;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav #toplink a {
    display: block;
    color: #E4E4BE;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* .topnav a:hover {
  background-color: #ddd;
  color: black;
} */

.active {
    background-color: #4CAF50;
    color: white;
}

.topnav .icon {
    display: none;
}

/* Hamburger menu: BEGIN */
.bar1, .bar2, .bar3 {
    width: 15px;
    height: 2px;
    background-color: #E4E4BE;
    margin: 3px 0;
    transition: 0.4s;
}

/* Hamburger menu: END */

/* When navbar menu is not expanded */
@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    /*:not(#toplink)*/
    .topnav a.icon {
        float: left;
        display: inline;
    }
}

/* When navbar menu is expanded */
@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        float: left;
    }

    .topnav.responsive a {
        float: none;
        display: block;
    }

}

/* The hamburger menu that displays the navbar */
#burgerIcon {
    width: 35px;
}

/* Splash Menu Styling */

/*
Basic input element using psuedo classes
*/

html {
    font-family: 'Lora', sans-serif;
    width: 100%;
}


input,
span,
    /* label, */
textarea {
    font-family: 'Ubuntu', sans-serif;
    display: block;
    margin: 10px;
    padding: 5px;
    border: none;
    font-size: 10px;
}

textarea:focus,
input:focus {
    outline: 0;
}

/* Question */

input.question,
textarea.question {
    font-size: 48px;
    font-weight: 300;
    /* border-radius: 2px; */
    margin: 0;
    border: none;
    width: 100%;
    background: rgba(0, 0, 0, 0);
    transition: padding-top 0.2s ease, margin-top 0.2s ease;
    overflow-x: hidden; /* Hack to make "rows" attribute apply in Firefox. */

    /* Following lines center the logo */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Underline and Placeholder */

input.question + label,
textarea.question + label {
    display: block;
    position: relative;
    white-space: nowrap;
    padding: 0;
    margin: 20px;
    width: 10%;
    border-top: 1px solid #ff7b0f;
    -webkit-transition: width 0.4s ease;
    transition: width 0.4s ease;
    height: 0px;
}

input.question:focus + label,
textarea.question:focus + label {
    width: 80%;
}

input.question:focus,
input.question:valid {
    padding-top: 35px;
}

textarea.question:valid,
textarea.question:focus {
    margin-top: 35px;
}

/* When the text field is selected, this happens */
input.question:focus + label > span,
input.question:valid + label > span {
    top: -100px;
    font-size: 10px;
    color: #333;
}

textarea.question:focus + label > span,
textarea.question:valid + label > span {
    top: -150px;
    font-size: 22px;
    color: #333;
}

/* input.question:valid + label,
textarea.question:valid + label {
  border-color: green;
} */

input.question:invalid,
textarea.question:invalid {
    box-shadow: none;
}

/* When the input field isn't selected */
input.question + label > span,
textarea.question + label > span {
    font-weight: 300;
    margin: 0;
    position: absolute;
    color: #E4E4BE;
    font-size: 20px;
    top: -66px;
    left: 0px;
    z-index: -1;
    -webkit-transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
    transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
}

input[type="submit"] {
    -webkit-transition: opacity 0.2s ease, background 0.2s ease;
    transition: opacity 0.2s ease, background 0.2s ease;
    display: block;
    opacity: 0;
    padding: 10px;
    cursor: pointer;
    background: #ffaa0c;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

input[type="submit"]:hover {
    background: #ffaa0c;
}

input[type="submit"]:active {
    background: #ffaa0c;
}

input.question:valid ~ input[type="submit"], textarea.question:valid ~ input[type="submit"] {
    -webkit-animation: appear 1s forwards;
    animation: appear 1s forwards;
}

input.question:invalid ~ input[type="submit"], textarea.question:invalid ~ input[type="submit"] {
    display: none;
}

@-webkit-keyframes appear {
    100% {
        opacity: 1;
    }
}

@keyframes appear {
    100% {
        opacity: 1;
    }
}

body#splash_body {
    background-color: #77918E;
    /* top right down left*/
    margin: 200px 60px 50px 60px;
    text-align: center;

}

div#splash_background {
    background-image: url(../images/logo_splash_background.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 15px;
}

/* Ice breaker specific styling */

/* The entire rectangle */
.inputGroup {
    background-color: #77918E;
    display: block;
    /* margin: 10px 0;
    position: relative; */
}

/* Text in the unselected options */
.inputGroup label {
    margin: 20px 0px 0 0;
    /* padding: 12px 30px; */
    width: 100%;
    display: block;
    text-align: left;
    color: #efe1b8;
    cursor: pointer;
    position: relative;
    /* height of the ::before element has to be the same */
    height: 50px;
    z-index: 2;
    transition: color 200ms ease-in;
    overflow: hidden;
}

/* What comes right after the label */
/* .inputGroup label:after {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  content: "where does content go?";
  background-color: #5e7777;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale3d(1, 1, 1);
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  z-index: -1;
} */

/* The circular button, both selected & unselected */
.inputGroup label:before {
     /*margin: 20px 0px 0 0; */
    width: 64px;
    height: 50px;
    content: "";
    border-right: 6px solid #ffaa0c;
    background-color: #ff7b0f;
    /* This is the check mark 
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E "); */
    background-repeat: no-repeat;
    /* background-position: 2px 3px; */
    /* This makes it a circule
    border-radius: 50%; */
    z-index: 2;
    position: relative;
    /* "top" is half the height */
    top: 25px;
    /* inline-block allows you to set the width and height of the element*/
    display: inline-block;
    /* right: 30px; */
    /* top: 50%; */
    transform: translateY(-50%);
    cursor: pointer;
    transition: all 200ms ease-in;
    /* padding: 0 10px; */
    margin: 0px 10px 0px 0px;
}

.inputGroup input:checked ~ label {
    color: #efe1b8;
}

/* .inputGroup input:checked ~ label:after {
  transform: translate(-50%, -50%) scale3d(56, 56, 1);
  opacity: 1;
} */

/* The circular checkbox, selected */
.inputGroup input:checked ~ label:before {
    border-right: 6px solid #ffaa0c;
    background-color: #54E0C7;
}

/* Don't know how to describe this, but when removed the
   options look weird, and the default radio buttons are
   visible :S */
.inputGroup input {
    /* width: 32px;
    height: 32px; */
    order: 1;
    z-index: 2;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    visibility: hidden;
}

.form {
    padding: 0 16px;
    max-width: 550px;
    margin: 50px auto;
    font-size: 18px;
    font-weight: 600;
    line-height: 36px;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/* html {
  box-sizing: border-box;
} */

code {
    background-color: #9AA3AC;
    padding: 0 8px;
}
