<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Hello World!</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- External link (relative) to your main stylesheet -->
    <link rel="stylesheet" href="../../static/css/styles.css">

    <!-- External link to Google fonts to be used on this page -->
    <link href="https://fonts.googleapis.com/css?family=Chakra+Petch|Poiret+One|Rajdhani|Raleway|Teko" rel="stylesheet">

    <!-- External link (relative) to your javascript file -->
    <script src="../../static/js/navbar.js"></script>
</head>

<body>
{% include './components/navbar.html' %}
{% include './components/topbar_about.html' %}

<div id="main" onclick="closeNav()">

    <section>
        <h1 class="subtitle">Development</h1>
        <p>
            A good deal of effort has gone into the development of this web
            application, be it directly or indirectly. Credit goes to everyone
            who has helped bring this project into reality.
        </p>
        <p>
            In addition, the development of this web application involved the
            use of several lovely technologies that deserve mentioning.
        </p>
    </section>

    <section>
        <h1 class="subtitle">Credits </h1>
        <p class="credits">
            <b>Authors</b><br>Yaqeen AlMahdi<br>Othman Alikhan<br><br>
            <b>Artwork Assets</b><br>Graphics Team<br><br>
            <b>Content of Pages</b><br>Agenda Team<br>Logistics Team<br>Programming Team<br><br>

            <b>Icon Distributor</b><br>www.thenounproject.com<br><br>

            <b>Introduction Icons</b>
            <br>'Home' by Prime Icons<br><br>

            <b>Auditorium Activities Icons</b>
            <br>'Agenda' by Parkijsun
            <br>'Icebreaker' by Andrew Doane
            <br>'Q&A Session' by Andrien Coquet<br><br>

            <b>Lobby Activities Icons</b>
            <br>'Booth Showcase' by IconTrack
            <br>'AR Game' by Sachin Modgekar<br><br>

            <b>Behind The Scenes Icons</b>
            <br>'Committee' by Patrick Morrison
            <br>'Agenda Team' by Gregor Cresnar
            <br>'Graphics Team' by Shelby Blair
            <br>'Logistics Team' by Rflor
            <br>'Programming Team' by Creative Stall
            <br>'About' by Dmitriy Ivanov<br><br>

            <b>Other Icons</b>
            <br>'Hamburger' by Alex Podolsky
            <br>'Liked' by Sophia Bai
            <br>'Google badge' store by Google
            <br>'Apple store badge' by Apple<br><br>

            <b>Language</b><br>Python<br><br>
            <b>Framework</b><br>Django<br><br>
            <b>Version Control</b><br>Git/Github<br><br>
            <b>Hosting</b><br>DigitalOcean<br><br>

            <b>Special Thanks</b><br>Omar Alikhan<br><br>
        </p>
    </section>

</div>
</body>
</html>
