<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Hello World!</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- External link (relative) to your main stylesheet -->
    <link rel="stylesheet" href="../../static/css/styles.css">

    <!-- External link to Google fonts to be used on this page -->
    <link href="https://fonts.googleapis.com/css?family=Chakra+Petch|Poiret+One|Rajdhani|Raleway|Teko" rel="stylesheet">

    <!-- External link (relative) to your javascript file -->
    <script src="../../static/js/navbar.js"></script>
</head>

<body>
{% include './components/navbar.html' %}
{% include './components/topbar_agenda.html' %}

<div id="main">
    <img id="agenda" src="../../static/images/agenda.jpg"/>
</div>
</body>
</html>
