<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Hello World!</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- External link (relative) to your main stylesheet -->
    <link rel="stylesheet" href="../../static/css/styles.css">

    <!-- External link to Google fonts to be used on this page -->
    <link href="https://fonts.googleapis.com/css?family=Chakra+Petch|Poiret+One|Rajdhani|Raleway|Teko" rel="stylesheet">

    <!-- External link (relative) to your javascript file -->
    <script src="../../static/js/index.js"></script>
    <script src="../../static/js/https_code.jquery.com_jquery-1.10.2.js"></script>
    <!-- Used to refactor navigation bar -->
</head>

<body>
<!--Importing navigation bar-->
<!-- Navigation bar -->
<div class="sidenav" id="mySidenav">
    <div class="sidenavBlock">
        <a href="javascript:void(0);" class="closeButton"
           onclick="closeNav()">&times;</a>
        <h1 class="sidenavBlock">IT PDP Conference 2018</h1>
    </div>
    <div class="sidenavBlock">
        <h1 class="sidenavBlockTitle">Introduction</h1>
        <img class="nounicons" src="../../static/images/icons/noun_home.svg" alt="noun">
        <a href="./home.html" id="toplink">Home</a>
    </div>
    <div class="sidenavBlock">
        <h1 class="sidenavBlockTitle">Auditorium Activities</h1>
        <img class="nounicons" src="../../static/images/icons/noun_agenda.svg" alt="noun">
        <a href="./agenda.html" id="toplink">Agenda</a>
        <div class="divider"></div>
        <img class="nounicons" src="../../static/images/icons/noun_ice_breaker.svg" alt="noun">
        <a href="#index" id="toplink">Ice Breaker</a>
        <div class="divider"></div>
        <img class="nounicons" src="../../static/images/icons/noun_question_and_answer.svg" alt="noun">
        <a href="#index" id="toplink">Q&A Session</a>
    </div>
    <div class="sidenavBlock">
        <h1 class="sidenavBlockTitle">Lobby Activities</h1>
        <img class="nounicons" src="../../static/images/icons/noun_booth.svg" alt="noun">
        <a href="./booths.html" >Booth Showcase</a>
    </div>
    <div class="sidenavBlock">
        <h1 class="sidenavBlockTitle">Behind The Scenes</h1>
        <img class="nounicons" src="../../static/images/icons/noun_about.svg" alt="noun">
        <a href="#about">About</a>
    </div>

    <img id="logo_sidebar" src="../../static/images/logo_pointing.png"/>
</div>

<!-- Top bar & open button -->
<div id="topBar">
    <span id="openButton" style="font-size:30px;cursor:pointer" onclick="openNav()">
        <div id="burgerIcon">
            &#9776;
        </div>
    </span>
</div>


<!--Main content of the page-->
<div id="main">
    <section>
        <!-- logo -->
        <img id="logo" src="../../static/images/logo_animated.gif" alt="Northport"/>

        <!-- Title -->
        <h1>2018<br/>IT PDP<br/>Conference</h1>

        <!-- Text -->
        <p>
            A very warm welcome to the much awaited 2018 IT PDP Conference!
        </p>
        <p>
            Every year we host a conference revolving around a certain theme. This year, our theme will be Adapting
        New Technology
        </p>
        <p>
            We have prepared a range of activities, lively presentations, numerous booths, and even an exciting
            Augmented Reality game! Please have a look at our agenda to see the upcoming events and enjoy the rest of
            the day!
        </p>
    </section>
</div>
</body>
</html>
