<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Hello World!</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- External link (relative) to your main stylesheet -->
    <link rel="stylesheet" href="../../static/css/styles.css">

    <!-- External link to Google fonts to be used on this page -->
    <link href="https://fonts.googleapis.com/css?family=Chakra+Petch|Poiret+One|Rajdhani|Raleway|Teko" rel="stylesheet">

    <!-- External link (relative) to your javascript file -->
    <script src="../../static/js/navbar.js"></script>
</head>

<body>
{% include './components/navbar.html' %}
{% include './components/topbar_home.html' %}


<div id="main" onclick="closeNav()">
    <section>
        <img id="logo" src="../../static/images/logo_animated.gif" alt="Northport"/>

        <h1>2018<br/>IT <b>PDP</b><br/>Conference</h1>

        <p>
            A very warm welcome to the much awaited 2018 IT PDP Conference!
        </p>
        <p>
            Every year we host a conference revolving around a certain theme.
            This year, our theme will be <b><i>Adapting New Technology</i></b>.
        </p>
        <p>
            We have prepared a range of activities: an icebreaker,
            popular speakers, various booths, and even an exciting augmented
            reality game! Please have a look at our agenda to see the upcoming
            schedule and enjoy the rest of the day!
        </p>
    </section>
</div>
</body>
</html>
