<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Hello World!</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- External link (relative) to your main stylesheet -->
    <link rel="stylesheet" href="../../static/css/styles.css">

    <!-- External link to Google fonts to be used on this page -->
    <link href="https://fonts.googleapis.com/css?family=Chakra+Petch|Poiret+One|Rajdhani|Raleway|Teko" rel="stylesheet">

    <!-- External link (relative) to your javascript file -->
    <script src="../../static/js/navbar.js"></script>
</head>

<body>
{% include './components/navbar.html' %}
{% include './components/topbar_metaverse.html' %}

<div id="main">
    <section>
        <h1 class="subtitle">Metaverse</h1>
        <p>
            Please enjoy the augmented reality game that we've developed using
            the Metaverse platform, especially made fro this conference!
        </p>
        <p>
            The objective of the game is simple: solve three puzzles and unlock
            a reward. Good luck!
        </p>
    </section>

    <section>
        <h1 class="subtitle">Instructions</h1>
        <p>
            Please enjoy the augmented reality game that we've developed using
            the Metaverse platform, especially made for this conference!
        </p>
        <p>
            The objective of the game is simple: solve three puzzles and unlock
            a reward. Good luck!
        </p>

        <p><b>1. Download:</b> Get the Metaverse app (see links below)</p>
        <p><b>2. Scan or Search:</b> In Metaverse, use the QR code on our lobby banner or search 'Adapting New Technology'</p>
        <p><b>3. Play:</b> Solve the three puzzles to unlock a reward!*</p>


        <div id="images">
            <a href="https://itunes.apple.com/gb/app/metaverse-experience-browser/id1159155137?mt=8">
            <img class="badge" style="padding-right: 10px" src="../../static/images/badge_apple.svg">
            </a>

            <a href="https://play.google.com/store/apps/details?id=com.gometa.metaverse&hl=en_GB">
            <img class="badge" style="padding-left: 10px" src="../../static/images/badge_google.png">
            </a>
            <br/>
        </div>
    </section>

    <section>
        <p>
            *Please note that only phones that support ARCore or ARKit
            technologies are compatible with this game. If you are unsure, just
            launch and play the game; it contains an in-game compatibility checker.
            If your phone is incompatible, you will not be able to complete the game
            (unless you use a little bit of magic).
        </p>
    </section>

</div>
</body>
</html>
