<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Hello World!</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- External link (relative) to your main stylesheet -->
    <link rel="stylesheet" href="../../static/css/styles.css">

    <!-- External link to Google fonts to be used on this page -->
    <link href="https://fonts.googleapis.com/css?family=Chakra+Petch|Poiret+One|Rajdhani|Raleway|Teko" rel="stylesheet">

    <!-- External link (relative) to your javascript file -->
    <script src="../../static/js/index.js"></script>
    <script src="../../static/js/https_code.jquery.com_jquery-1.10.2.js"></script>
    <!-- Used to refactor navigation bar -->
</head>

<body>
{% include './components/navbar.html' %}
{% include './components/topbar_q&a.html' %}

<!--Main content of the page-->
<div>
    <form class="form">
        <h2>Q&A</h2>
        <div class="inputGroup">
            <input id="check1" name="checkbox" type="checkbox"/>
            <label for="check1">test1 </label>
        </div>
        <br><br>
        <div class="inputGroup">
            <input id="check2" name="checkbox" type="checkbox"/>
            <label for="check2">test2 </label>
        </div>
        <br><br>
        <div class="inputGroup">
            <input id="check3" name="checkbox" type="checkbox"/>
            <label for="check3">test3 </label>
        </div>
    </form>

    <h3>Testing API questions rendering:</h3>
    <form class="form">
        {% for question in questions %}
        <div class="inputGroup">
            <input id="check2" name="checkbox" type="checkbox"/>
            <label for="check2">{{question.body |linebreaks}} </label>
        </div>
        <br><br>
        {% endfor %}
    </form>
    

    <h3>Submit a new question!</h3>
    <form action="create_FAQ" method="POST">
        {% csrf_token %}
        <!-- <label for="question">Question: </label>
        <br> -->
        <textarea rows="4" cols="50" id="question" type="text" name="question"></textarea>
        <br><br>
        
        <!--<button type="submit">Upload</button>-->
        <br><br>
        <input type="submit" value="Submit" />
        
    </form>
</div>
</body>
</html>

