<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Hello World!</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- External link (relative) to your main stylesheet -->
    <link rel="stylesheet" href="../../static/css/styles.css">

    <!-- External link to Google fonts to be used on this page -->
    <link href="https://fonts.googleapis.com/css?family=Chakra+Petch|Poiret+One|Rajdhani|Raleway|Teko" rel="stylesheet">

    <!-- External link (relative) to your javascript file -->
    <script src="../../static/js/index.js"></script>
    <script src="../../static/js/https_code.jquery.com_jquery-1.10.2.js"></script>
    <!-- Used to refactor navigation bar -->
</head>

<body>
{% include './components/navbar.html' %}
{% include './components/topbar_q&a.html' %}

<!--Main content of the page-->
<div>

    <h3>Q&A voting</h3>
    <form class="form" action="question_voting" method="POST">
        {% csrf_token %}
        {% for question in questions %}
        <div class="inputGroup">
            <input id={{question.id}} name="checkbox" type="checkbox" value={{question.id}}/>
            <label for={{question.id}}>{{question.body |linebreaks}} </label>
        </div>
        <br><br>
        {% endfor %}
        <input type="submit" value="Submit" />
    </form>
    

    <h3>Submit a new question!</h3>
    <form action="create_question" method="POST">
        {% csrf_token %}
        <!-- <label for="question">Question: </label>
        <br> -->
        <textarea rows="4" cols="50" id="question" type="text" name="body"></textarea>
        <br><br>
        
        <!--<button type="submit">Upload</button>-->
        <br><br>
        <button type="submit" value="Submit">Submit</button>
    </form>
</div>
</body>
</html>

