<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Hello World!</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- External link (relative) to your main stylesheet -->
    <link rel="stylesheet" href="../../static/css/styles.css">

    <!-- External link to Google fonts to be used on this page -->
    <link href="https://fonts.googleapis.com/css?family=Chakra+Petch|Poiret+One|Rajdhani|Raleway|Teko" rel="stylesheet">

    <!-- External link (relative) to your javascript file -->
    <script src="../../static/js/index.js"></script>
</head>

<body id="splash_body">
    <!-- <div id="splash_background"> -->
        <h1 class="splash_title">Hello World!</h1>
        <form action="" method="POST">
            <!-- CSRF token: not having it returns a Forbidden 403 message-->
            {% csrf_token %} 

            <input type="text" name="sessionID" class="question" id="sessionID" required autocomplete="off" />
            <label for="sessionID"><span>Enter the session ID</span></label>
            <!--{{ form.username.errors }}
            <!-- <textarea name="message" rows="2" class="question" id="msg" required autocomplete="off"></textarea>
            <label for="msg"><span>What's your message?</span></label> -->
            <input type="submit" value="Submit!" />
        </form>
    <!-- </div> -->
   
</body>
</html>
