<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Hello World!</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- External link (relative) to your main stylesheet -->
    <link rel="stylesheet" href="../../static/css/styles.css">

    <!-- External link to Google fonts to be used on this page -->
    <link href="https://fonts.googleapis.com/css?family=Chakra+Petch|Poiret+One|Rajdhani|Raleway|Teko" rel="stylesheet">

    <!-- External link (relative) to your javascript file -->
    <script src="../../static/js/index.js"></script>
</head>

<body>
{% include './components/navbar.html' %}
{% include './components/topbar_team_logistics.html' %}

<div id="main">

    <section>
        <h1 class="subtitle">Who Are We?</h1>
        <p>
            We are the <b>logistics team</b>. Our role in the committee consisted
            of handling any tasks within the lobby and 2nd hall. Some of our
            tasks is as follows:
        </p>
        <ol>
            <li>Coordinating booths <a href="booths">(floor plan)</a></li>
            <li>Reserving and arranging assets </li>
            <li>Printing banners for the booths</li>
        </ol>
    </section>

    <section>
        <h1 class="subtitle">Team Members</h1>
        <p class="credits">
            <b>Group Leader</b><br>Abdulrahman Alhumaidan<br><br>
            <b>Group Co-leader</b><br>Azzahra Saif<br><br>
            <b>Member</b><br>Mohammed Alhubail<br><br>
            <b>Member</b><br>Sultan Alsufayan<br><br>
            <b>Member</b><br>Mohamed Alanquri<br><br>
            <b>Member</b><br>Abdullah Aldossary<br><br>
            <b>Member</b><br>Abdulrahman Naffaa<br><br>
            <b>Member</b><br>Faisal AlabdulKareem<br><br>
            <b>Member</b><br>Ibrahim Alnafisah<br><br>
        </p>
    </section>

</div>
</body>
</html>
