<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Hello World!</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- External link (relative) to your main stylesheet -->
    <link rel="stylesheet" href="../../static/css/styles.css">

    <!-- External link to Google fonts to be used on this page -->
    <link href="https://fonts.googleapis.com/css?family=Chakra+Petch|Poiret+One|Rajdhani|Raleway|Teko" rel="stylesheet">

    <!-- External link (relative) to your javascript file -->
    <script src="../../static/js/navbar.js"></script>
</head>

<body>
{% include './components/navbar.html' %}
{% include './components/topbar_team_graphics.html' %}

<div id="main" onclick="closeNav()">

    <section>
        <h1 class="subtitle">Who Are We?</h1>
        <p>
            We are the <b>graphics & media team</b>. Our role in the committee was
            to design the visual assets and develop films. Some of our tasks are as follows:
        </p>
        <ol>
            <li>Designing the committee logo</li>
            <li>Designing the booth banners</li>
            <li>Animating the technology film</li>
        </ol>
    </section>

    <section>
        <h1 class="subtitle">Team Members</h1>
        <p class="credits">
            <b>Group Leader</b><br>Khalid Alrawaf<br><br>
            <b>Group Co-leader</b><br>Reem Thani<br><br>
            <b>Member</b><br>Aqeel Khawaja<br><br>
            <b>Member</b><br>Yaqeen Al Mahdi<br><br>
            <b>Member</b><br>Nora Aldossary<br><br>
            <b>Member</b><br>Nourah Qahtani<br><br>
        </p>
    </section>

</div>
</body>
</html>
