<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Hello World!</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- External link (relative) to your main stylesheet -->
    <link rel="stylesheet" href="../../static/css/styles.css">

    <!-- External link to Google fonts to be used on this page -->
    <link href="https://fonts.googleapis.com/css?family=Chakra+Petch|Poiret+One|Rajdhani|Raleway|Teko" rel="stylesheet">

    <!-- External link (relative) to your javascript file -->
    <script src="../../static/js/index.js"></script>
</head>

<body>
{% include './components/navbar.html' %}
{% include './components/topbar.html' %}

<div id="main">

    <section>
        <h1 class="subtitle">Who Are We?</h1>
        <p>
            We are the <b>programming team</b>. Our role in the committee was
            to develop three software deliverables:
        </p>
        <ol>
            <li>Web application (This one!)</li>
            <li>AR game <a href="metaverse">(Metaverse)</a></li>
            <li>Signup script (Yousef AlSabr)</li>
        </ol>
    </section>

    <section>
        <h1 class="subtitle">Team Members</h1>
        <p class="credits">
            <b>Coding Monkey</b><br>Yaqeen Mahdi<br><br>
            <b>Metaverser</b><br>Othman Alikhan<br><br>
            <b>Easier Unity</b><br>Mohammed Alqaddum<br><br>
            <b>Supervisor Slapper</b><br>Abdullah Alsaadan<br><br>
            <b>Survey Guy</b><br>Saleh Alghamdi<br><br>
            <b>Hackathoner</b><br>AbdulAziz Alghanmi<br><br>
            <b>The Supportive</b><br>Salem Almutairi<br><br>
        </p>
    </section>

</div>
</body>
</html>
