<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Hello World!</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- External link (relative) to your main stylesheet -->
    <link rel="stylesheet" href="../../static/css/styles.css">

    <!-- External link to Google fonts to be used on this page -->
    <link href="https://fonts.googleapis.com/css?family=Chakra+Petch|Poiret+One|Rajdhani|Raleway|Teko" rel="stylesheet">

    <!-- External link (relative) to your javascript file -->
    <script src="../../static/js/index.js"></script>
</head>

<body>
{% include './components/navbar.html' %}
{% include './components/topbar_team_agenda.html' %}

<div id="main">

    <section>
        <h1 class="subtitle">Who Are We?</h1>
        <p>
            We are the <b>agenda team</b>. Our role in the committee was to design
            the entire agenda of the conference. This includes the following:
        </p>
        <ol>
            <li>Recruiting speakers <a href="agenda">(agenda)</a></li>
            <li>Scout and practice with MCs</li>
            <li>Email surveys to collect PDP questions</li>
        </ol>
    </section>

    <section>
        <h1 class="subtitle">Team Members</h1>
        <p class="credits">
            <b>Group Leader</b><br>Ali Abu Al saud<br><br>
            <b>Group Co-leader</b><br>Amaal Tashkandi<br><br>
            <b>Member</b><br>Abdulrahman Alkhalaf<br><br>
            <b>Member</b><br>Hanan Ali<br><br>
            <b>Member</b><br>Mansour Aljarbue<br><br>
            <b>Member</b><br>Mohammad Bajahzar<br><br>
            <b>Member</b><br>Musaed Albrikan<br><br>
            <b>Member</b><br>Waleed Alamri<br><br>
        </p>
    </section>

</div>
</body>
</html>
